@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.mt-50 {
  margin-top: 50px !important;
}

.bg-green-color {
  background-color: #39d000;
}

.green-color {
  color: #39d000;
}

.lawn-green {
  color: #1ed7f8;
}

.dark-blue {
  color: #20205e;
}

body {
  font-family: Arial, sans-serif;
  background: #dddddd;
}

.headings {
  font: normal normal bold 18px/24px Open Sans;
}

.sub-headings {
  margin-bottom: 10px;
  font: normal normal bold 32px/36px Open Sans;
}

.banner-headings {
  margin-left: 40px;
  padding: 16px;
}

.banner-heading {
  letter-spacing: 0.84px;
  margin-left: 46px;
  font: normal normal bold 38px/42px Open Sans;
}

.banner-heading1 {
  letter-spacing: 0.84px;
  font: normal normal bold 38px/42px Open Sans;
}


.banner-sub-heading {
  letter-spacing: 0.76px;
  color: #2bdafa;
  margin-left: 46px;
  font: normal normal 600 32px/40px Open Sans;
}

.banner-sub-heading1 {
  font: normal normal 600 32px/40px Open Sans;
  color: #2bdafa;
  margin-left: 0%;
}

.learnbutton {
  font-size: 16px;
  width: 210px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .banner-heading {
    font-size: 0.6rem;
  }

  .banner-sub-heading {
    font-size: 0.5rem;
  }

  .banner-headings {
    margin-top: -30px;
    margin-left: 2px;
    padding: 0px;
  }

  .learnbutton {
    font-size: 0.3rem;
    padding: 3px, 3px !important;
  }
}

.nav-link {
  color: #20205e;
  line-height: 27px;
  font: normal normal 600 16px/27px Open Sans;
}

.products {
  font: normal normal bold 11px/20px Open Sans;
}

.get-quote {
  background: #39d000;
  border: none;
  padding: 2px 30px;
  border-radius: 30px;
  margin: 0;
  color: #fff;
}

.dropdown-item {
  color: #888888;
  line-height: 17px;
  font: normal normal 600 16px/30px;
}

.navbar {
  padding: 0;
}

.carousel-caption {
  left: 0;
  top: 50%;
  transform: translatey(-50%);
  text-align: left;
}

.carousel-indicators [data-bs-target] {
  background-color: #20205e;
  border-radius: 13px;
  width: 80px;
  height: 5px;
  padding: 3px;
}

.carousel-indicators {
  margin: 0;
  left: 10px;
  bottom: -15px !important;
  right: auto;
}

/*---list items----*/
.why-oxair-list {
  line-height: 30px;
}

.points {
  margin-left: 20px;
}

.why-oxair-list>li::before {
  content: " ";
  background-image: url("/images/Checkmark.png");
  background-size: 100%;
  position: absolute;
  width: 21px;
  height: 21px;
  left: -32px;
  background-repeat: no-repeat;
  top: 5px;
}

.why-oxair-list>li {
  margin: 3px;
  position: relative;
  display: flex;
  align-items: center;
  color: #888;
  font: normal normal normal 16px/26px Open Sans;
}

.try-roi-section {
  background: url("../assets/images/Component.svg") no-repeat;
  background-size: 100%;
  position: relative;
}

.content-section {
  display: grid;
  justify-content: space-around;
  color: #fff;
  width: 50%;
  padding: 8% 20px;

  h4 {
    font-size: 2vw;
    margin-bottom: 0.2rem;
  }

  a {
    font-size: 1vw;
    letter-spacing: 1.4px;
    text-decoration: none;
    color: #1ed7f8;
  }
}

ul.our-market-tabs {
  width: 400px;

  li {
    width: 100px;
    margin: 0 auto 15px;

    button.active {
      color: #2bdafa !important;
      border: none;
    }

    button.nav-link {
      color: #20205e;
      border: none;
      font-size: 14px;
    }

    button.nav-link:hover {
      color: #2bdafa !important;
    }
  }
}

.tab-content1 {
  background: #20205e;
  padding: 10px;
  border-radius: 20px;
  color: #fff;

  h4 {
    margin-bottom: revert;
    font: normal normal 600 16px/23px Open Sans;
  }

  p {
    font: normal normal normal 16px/23px Open Sans;
    margin-top: -15px;
  }

  button.bg-green-color {
    background-color: white;
    color: #000 !important;
    font-size: 14px !important;
    border-radius: 5px !important;
    text-transform: uppercase;
    font-weight: 600;
  }
}

/*ContactUs Today */
.contact-us-banner {
  background-color: #1b1464;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;

  h4 {
    color: white;
    font-weight: bold;
    font-size: 36px;
  }

  p {
    color: #00ccff;
    margin: 0;
    font-size: 24px;
  }
}

.contact-info {
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;

  .icon {
    margin: 0 auto 20px;
  }
}

.footer {
  padding: 40px 0;
}

.footer-content {
  h6 {
    font: normal normal 600 18px Open Sans;
    margin-bottom: 20px;
  }

  address {
    font: normal normal normal 16px/20px Open Sans;
    color: #888888;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.terms-privacy {
  color: #33BDD3;
  text-decoration: none;
}

.list-unstyled>li:first-child {
  padding-left: 0 !important;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;

  li+li {
    border-left: 1px solid #888;
  }

  li {
    padding: 0px 8px;
    float: left;
    line-height: 13px;
    margin-bottom: 10px;
  }

  a {
    font-size: 14px;
    color: #888888;
    text-decoration: none;
  }
}

.contact-text {
  color: #39D000;
  font: normal normal bold 30px/43px Open Sans;
  letter-spacing: 3.6px;
}

.contact-text1 {
  color: #39D000;
  font: normal normal 600 20px/29px Open Sans;
}

.contact-text2 {
  color: #39D000;
  font: normal normal bold 30px/41px Open Sans;
}

.work {
  font: normal normal 600 24px/30px Open Sans
}

text-dark {
  font: normal normal 600 18px/30px Open Sans;
}

.border-r {
  border-right: 1px solid #2bdafa;
}

.copy-rights {
  font-size: 16px;
  color: #888888;
  margin: 0;
}

.social-icons {
  display: inline-block;
  margin-top: 15px;
  a {
    margin: 0 5px;
    display: inline-block;
  }
}

/*About Oxair*/
.inner-banner {
  background-image: url("/images/inner-banner-img.png");
  padding: 7% 20px;
  background-size: 100%;
  margin: 25px 0px;
  background-repeat: no-repeat;

  h1.banner-heading {
    color: #fff;
  }
}

.the-oxair-india {
  margin: 50px 0;
}

li.no-bullets {
  list-style-type: none;
  margin: 0;
}


.defference-sec {
  ul {
    display: flex;
    padding-left: 0px;
    margin-bottom: 40px;

    li {
      margin: 0 17px;
      padding-right: 20px;

      font: normal normal bold 36px/49px Open Sans;
      color: #20205e;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

/* Media query for small screens */
@media (max-width: 590px) {
  .defference-sec {
    ul {
      flex-direction: column;

      li {
        margin: 10px 0;
      }
    }
  }
}

/* Media query for small screens of our-technology-tabs*/
/* @media(max-width:780px){
  .our-technology-tabs {
    margin: 20px 0;
    flex-direction: column;

    justify-content: space-around;
    border-bottom: none;
  
    li {
      width: 30%;
  
      button.nav-link {
        text-align: left;
        color: #39d000;
        border: none;
        border-bottom: 5px solid #39d000;
        line-height: 20px;
         
      }
  
       
  
      button.nav-link.active {
        background-color: transparent !important;
        border: none;
        color: #fff;
        border-bottom: 5px solid #ffffff;
      }
    }
  }
} */
.technology-section {
  background: var(--unnamed-color-20205e) 0% 0% no-repeat padding-box;
  background: #20205e 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

.our-technology-tabs {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  border-bottom: none;

  li {
    width: 30%;

    button.nav-link {
      padding-left: initial;
      text-align: left;
      color: #39d000;
      border: none;
      border-bottom: 5px solid #39d000;
      height: 146px;
      line-height: 20px;
      font: normal normal 600 16px Open Sans;

      span {
        img {
          display: block;
          padding: auto;
        }
      }
    }



    button.nav-link.active {
      padding-left: initial;
      background-color: transparent !important;
      border: none;
      color: #fff;
      border-bottom: 5px solid #ffffff;
    }
  }
}

/*Worlwide Installations*/
.installation-count {
  h2 {
    font: normal normal bold 40px/50px Open Sans;
    letter-spacing: 0px;
    color: #39d000;
  }

  p {
    font: normal normal normal 22px/25px Open Sans;
    letter-spacing: 0px;
    color: #888888;
    text-transform: uppercase;
  }
}

.installations-section {
  padding: 10px;
  background-image: url(../assets/images/world-map.png);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 45px 0;

  .section-heading {
    font: normal normal bold 36px/49px Open Sans;
    color: #2bdafa;
  }

  .section-sub-heading {
    font: normal normal bold 36px/49px Open Sans;
    color: #20205e;
    margin-bottom: 24px;
  }
}

/*Testimonial Section*/
.testimonial-section {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;

  .section-heading {
    font: normal normal bold 36px/49px Open Sans;
    color: #2bdafa;
    margin-bottom: 0;
  }

  .section-sub-heading {
    font: normal normal 600 1.8vw/2.5vw Open Sans;
    color: #20205e;
    margin-bottom: 20px;
  }

  .carousel {
    .carousel-indicators {
      display: none;
    }
  }
}

.author-sec {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .autor-details {
    margin-left: 20px;

    h6 {
      margin: 0;
      color: #20205e;
      font: normal normal 600 16px Open Sans;
    }

    small {
      color: #888888;
      font: normal normal 14px/18px Open Sans;
      display: block;
    }
  }
}

.testimonial {
  position: relative;

  p {
    font: italic normal normal 14px/24px Open Sans;
    color: #888888;
  }
}

.carousel-control-next,
.carousel-control-prev {
  width: 40px;
  background: #20205e;
  height: 40px;
  transform: translateY(-50%);
  top: 50%;
  border-radius: 100%;

  span {
    background-size: 60%;
  }
}

.btn-read-more {
  button {
    margin-left: auto;
    display: block;
  }
}

.vertical-line {
  top: 0;
  bottom: 0;
  border-left: 1px solid #707070;
  height: 100%;
}


.video-carousel-item {
  position: relative;
  justify-content: center;
  align-items: center;
}

.react-player {
  position: relative;
  margin: auto;
  display: block;
  border: 6px blue;
}
.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.designationcenter {
   margin-top: 8px;
    text-align: center;
    display: grid;
    justify-content: center;

  h6 {
    margin: 0;
    color: #20205e;
    font: normal normal 600 16px Open Sans;
  }

  small {
    color: #888888;
    font: normal normal 14px/18px Open Sans;
    display: block;
  }
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background color */
  border-radius: 50%; /* Make the background round */
  width: 40px; /* Fixed width for the button */
  height: 40px; /* Fixed height for the button */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  pointer-events: none; /* Allows click-through to the video wrapper */
}



.custom-controls {
  position: absolute;
  top: 27%; /* Center vertically */
  width: 96%;
  display: flex;
  justify-content: space-between; /* Spread buttons horizontally */
  padding: 0 68px; /* Adjust padding if needed */
  pointer-events: none; /* Allows click-through to the player */
}

.control-btn {
  border: none;
  cursor: pointer;
  color: #000000;
  background-color: transparent;
  pointer-events: all; /* Re-enables click for the buttons */
}




/* .nav-tabs .nav-link.active{
  background-color: transparent;
} */
/*container*/
.container {
  max-width: 90%;
  margin: 0 5%;
  background: #fff;
}

.inner-container {
  padding: 0 5%;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }

  .our-technology-tabs {
    li {
      width: 50%;
    }
  }
}

@media (width: 1640px) {
  .container {
    max-width: 1380px;
    padding: 0 5%;
  }

  .content-section {
    width: 100%;
  }
}

.vertical-line {
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  height: 100%;
  margin: 0 auto;
}

.icon-size {
  width: 57px;
  height: 57px;
}


.font-gas {
  font-weight: 600;
  font-size: 36px;
}

.font-gas2 {
  font-weight: 600;
  font-size: 24px;
}

/* styles/Home.module.css */

.product-heading1 {
  font: normal normal bold 18px/24px Open Sans;
  text-align: left;
}

.font-oxy {
  font: normal normal bold 18px Open Sans;
  color: #888888;
}

.oxy-smallfont {
  font: normal normal bold 14px Open Sans;
  color: #888888;
}

.sub-headings1 {
  font: normal normal bold 28px Open Sans;
}

.product-heading {
  font: 16px/24px Open Sans #888888;
  text-align: justify;
}

.icon-text-box {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.icon-text-box img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.thumanails {
  display: flex;
  padding: 4px;
  margin-top: 12px;
}





@media (max-width: 767.98px) {

  /* Adjust the max-width value as needed for your breakpoints */

  .border-r {
    border-right: none;
  }
}

.img-width {
  margin-top: 88px;
  width: 359px;
  height: 70px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  font: normal normal 16px Open Sans;
  background: #20205E 0% 0% no-repeat padding-box;
}

.inner-icon {
  height: 40px;
  width: 40px;
}

.productname {
  font: bold 18px Open Sans;
  color: #20205E;
  margin-bottom: 0;
}

.brocherfont {
  text-align: left;
  font: normal normal normal 17px/30px Open Sans;
  margin-left: 16px;
  color: #FFFFFF;
}

.bordercolor {
  border-bottom: 10px solid #cccccc;
  color: #888888;
  position: relative;
}

/* .span.activetop {
  position: absolute;
  padding: 10px 0;
} */

.nav-tabs .nav-link.active {
  background-color: transparent;
}

.activetop {
  border-bottom: 10px solid #2bdafa;
  cursor: pointer;
  color: #2bdafa;
  transition: background-color 0.3s;
  padding: 10px;
}

.nav-tabs .nav-link {
  border: none;
  font: normal normal bold 14px/24px Open Sans;
  color: #888888;
}

@media (max-width:1286px) {
  .nav-tabs .nav-link {
    font: normal normal bold 18px/24px Open Sans;
  }

  .activetop {
    padding: 8px;
  }

  .bordercolor {
    border-bottom: transparent;
  }
}

@media(max-width:450px) {
  .activetop {
    border-bottom: transparent;

  }
  .brocherfont {
    text-align: left;
    font: normal normal normal 11px/16px Open Sans;
    color: #FFFFFF;
  }
.img-width{
  width: auto;
  height: 50px;
}  

.inner-icon {
  height: 20px;
  width: 20px;
}

}

.benifitfont {
  text-align: left;
  font: normal normal 600 20px/30px Open Sans;
  color: #20205E;
}


.border-rightproduct {
  border-right: 1px solid #707070;
}

.border-rightproduct:last-child {
  border-right: none;
}

.flowratefont{
  text-align: left;
font: normal normal bold 15px/20px Open Sans;
color: #888888;
}

.productspecification{
  text-align: left;
font: normal normal 600 13px/17px Open Sans;
color: #888888;
}

.knowmorebtn {
  padding: 3px 12px;
  border: none;
  border-radius: 20px;
  background-color: #39D000;
  color: white;
  font: normal normal 600 13px/17px Open Sans;
}

.goldmining {
  font: normal normal normal 18px/30px Open Sans;
  color: #333333;
}

.horizental-border{
  border: 1px solid #707070;
}
.productcontent{
text-align: left;
font: normal normal normal 18px/30px Open Sans;
color: #888888;
}

.productpagecolor {
  font: normal normal 600 20px/30px Open Sans;
  color: #20205E;

}

/* .know-more {
  font-size: small;
} */

.scrollable-modal-body {
  max-height: 400px;
  overflow-y: auto;
}

.btn-submit {
  background: #20205E;
  width: 480px;
  height: 70px;
  margin-top: 33.5px;
  border-radius: 20px;
}

.btn-submit:hover {
  background-color: #20205E;
}

.text-field {
  width: 500px;
  height: 50px;
  margin-top: 33.5px;
}

.text-field1 {
  width: 500px;
  height: 135px;
  margin-top: 33.5px;
}

.address1 {
  font-size: 20px;
}

.differnce {
  margin-left: 0px;
}

.custom-title-spacing {
  margin-bottom: 10px;
  /* Adjust the value as needed */
}

.text-about {
  color: #888888;
  font: normal normal normal 16px/26px Open Sans;
}

.text-about1 {
  color: #333333;
  font: normal normal normal 16px/26px Open Sans;
}

.icon1 {
  margin-right: 8px;
  margin-left: -5px;
  width: 25px;
  height: 25px;
}

